<div class="signupbox">
  <h1>Sign up Here</h1>
  <form action="">
    <div class="form-group">
      <label for="user">Username</label>
      <input type="text" class="form-control" placeholder="Enter Username" id="user">
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" placeholder="Email@address.com" id="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="password" class="form-control" placeholder="Enter Password" id="pwd">
    </div>
    <div class="form-group">
      <label for="pwd"> Confirm Password</label>
      <input type="password" class="form-control" placeholder="Confirm Password" id="Confirm-pwd">
    </div>
    <button type="submit" class="btn">Create</button>
    <h6>Already have a account? <a routerLink= "/login">login</a></h6>
  </form>
</div>