
header {
  background: #38454c;
}

header::after {
  clear: both;
  content: '';
  display: table;
}
.logo {
  float: left;
}
nav {
  float: right;
  margin: 0;
  padding: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  justify-content: center;
}

nav li {
  display: inline-block;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 25px;
}

nav a {
  color: #cccdce;
  text-transform: uppercase;
  font-size: .8em;
  text-decoration: none;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #000;
  top: 0px;
  width: 0%;
}

nav a:hover::before {
  width: 100%;
}

