<<<<<<< HEAD
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
=======
.loginbox {
  background: #5d737e;
  height: 340px;
  width: 420px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  box-sizing: border-box;
  color: #cccdce;
}

.loginbox h1 {
  text-align: center;
  margin-top: 15px;
}

.loginbox form {
  margin-left: 60px;
  margin-top: 20px;
  width: 300px;
}

.loginbox h6 {
  margin-top: 10px;
}

.btn {
  background: #cccdce;
}

.form-control {
  border: 2px solid #2c2d2e69;
  border-radius: 20px;
}
>>>>>>> ba3caab15df61a44ebbc4346847cdcef0d554de7
